services:
  crawler:   
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crawler
    restart: unless-stopped
    env_file:
      - ./Source/.env
    environment:
      - TZ=Asia/Seoul
    volumes:
      - ./Source/crawler.py:/app/crawler.py
      - ./Source/rules.py:/app/rules.py
      - ./Source/db_mysql.py:/app/db_mysql.py
      - ./data:/app/data
      - ./logs:/var/log

volumes:
  data: