services:
  crawler:   
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crawler
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
    volumes:
      - ./Source/crawler.py:/app/crawler.py
      - ./Source/rules.py:/app/rules.py
      - ./Source/db_mysql.py:/app/db_mysql.py
      - ./logs:/var/log

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: chean23k!!
      MYSQL_DATABASE: WEBCRAWLING
      MYSQL_USER: ASEC
      MYSQL_PASSWORD: chean23k!!
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
